

POSTGRES_PASSWORD=postgres
POSTGRES_DB=emenu
POSTGRES_USER=postgres

DATABASE_HOST=localhost
DATABASE_NAME=emenu
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

EMAIL_HOST=smpt.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=testowy.django@gmail.com
EMAIL_HOST_PASSWORD=admin1234!
EMAIL_USE_SSL=False

ALLOWED_HOSTS=*

SECRET_KEY='00p0n2=-3^15)i2!-i5(8@fu!cp*w5c54q-kwm3$vn8i@9!@w('
